[Desktop Entry]
Categories=Game
Comment=A game where you build your way with your keys
Exec=a-keys-path
GenericName=A Key's Path
Icon=a-keys-path
Name=a-keys-path
Type=Application
Version=1.4
