[Desktop Entry]
Categories=Game
Comment=An interactive Git learning game!
Exec=oh-my-git
GenericName=An interactive Git learning game!
Icon=oh-my-git
Name=oh-my-git
Type=Application
Version=1.4
